USE [master]
GO
/****** Object:  Database [AIUBBusManagementSystem]    Script Date: 9/16/2026 1:23:40 AM ******/
CREATE DATABASE [AIUBBusManagementSystem]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'AIUBBusManagementSystem', FILENAME = N'C:\Users\Acer\AIUBBusManagementSystem.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'AIUBBusManagementSystem_log', FILENAME = N'C:\Users\Acer\AIUBBusManagementSystem_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AIUBBusManagementSystem].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AIUBBusManagementSystem]
GO
/****** Object:  Table [dbo].[AdminProfiles]    Script Date: 9/16/2026 1:23:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AdminProfiles](
	[UserId] [int] NOT NULL,
	[AdminId] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BusAssignments]    Script Date: 9/16/2026 1:23:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BusAssignments](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RouteId] [int] NOT NULL,
	[DriverId] [int] NOT NULL,
	[TimeSlotId] [int] NOT NULL,
	[Date] [date] NOT NULL,
	[BusId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Buses]    Script Date: 9/16/2026 1:23:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Buses](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[BusName] [varchar](50) NOT NULL,
	[Capacity] [int] NOT NULL,
	[Status] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DriverProfiles]    Script Date: 9/16/2026 1:23:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DriverProfiles](
	[UserId] [int] NOT NULL,
	[LicenseNo] [varchar](50) NOT NULL,
	[Phone] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RouteLocations]    Script Date: 9/16/2026 1:23:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RouteLocations](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RouteId] [int] NOT NULL,
	[LocationName] [varchar](100) NOT NULL,
	[Fare] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Routes]    Script Date: 9/16/2026 1:23:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Routes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RouteName] [varchar](100) NOT NULL,
	[Direction] [varchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StudentPickupSelections]    Script Date: 9/16/2026 1:23:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StudentPickupSelections](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[StudentId] [int] NOT NULL,
	[LocationId] [int] NOT NULL,
	[TimeSlotId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StudentProfiles]    Script Date: 9/16/2026 1:23:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StudentProfiles](
	[UserId] [int] NOT NULL,
	[StudentId] [varchar](30) NOT NULL,
	[Department] [varchar](100) NOT NULL,
	[Email] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TimeSlots]    Script Date: 9/16/2026 1:23:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TimeSlots](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[StartTime] [time](7) NOT NULL,
	[EndTime] [time](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TravelLogs]    Script Date: 9/16/2026 1:23:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TravelLogs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[StudentId] [int] NOT NULL,
	[AssignmentId] [int] NOT NULL,
	[Amount] [decimal](10, 2) NOT NULL,
	[IsPaid] [bit] NOT NULL,
	[PickupConfirmed] [bit] NOT NULL,
	[Date] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 9/16/2026 1:23:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](100) NOT NULL,
	[Username] [varchar](50) NOT NULL,
	[Password] [varchar](100) NOT NULL,
	[Email] [varchar](100) NULL,
	[Role] [varchar](20) NOT NULL,
	[Status] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[BusAssignments] ON 

INSERT [dbo].[BusAssignments] ([Id], [RouteId], [DriverId], [TimeSlotId], [Date], [BusId]) VALUES (6, 1024, 9, 11, CAST(N'2026-09-12' AS Date), 1)
INSERT [dbo].[BusAssignments] ([Id], [RouteId], [DriverId], [TimeSlotId], [Date], [BusId]) VALUES (7, 1025, 9, 11, CAST(N'2026-09-12' AS Date), 2)
INSERT [dbo].[BusAssignments] ([Id], [RouteId], [DriverId], [TimeSlotId], [Date], [BusId]) VALUES (8, 1027, 9, 12, CAST(N'2026-09-12' AS Date), 3)
SET IDENTITY_INSERT [dbo].[BusAssignments] OFF
GO
SET IDENTITY_INSERT [dbo].[Buses] ON 

INSERT [dbo].[Buses] ([Id], [BusName], [Capacity], [Status]) VALUES (1, N'BUS-01', 40, N'Active')
INSERT [dbo].[Buses] ([Id], [BusName], [Capacity], [Status]) VALUES (2, N'BUS-02', 40, N'Active')
INSERT [dbo].[Buses] ([Id], [BusName], [Capacity], [Status]) VALUES (3, N'BUS-03', 40, N'Active')
SET IDENTITY_INSERT [dbo].[Buses] OFF
GO
INSERT [dbo].[DriverProfiles] ([UserId], [LicenseNo], [Phone]) VALUES (9, N'123432147809', N'0178800992')
INSERT [dbo].[DriverProfiles] ([UserId], [LicenseNo], [Phone]) VALUES (1017, N'8776457875454545t', N'017889099654')
INSERT [dbo].[DriverProfiles] ([UserId], [LicenseNo], [Phone]) VALUES (1018, N'237872932301', N'01655545432')
GO
SET IDENTITY_INSERT [dbo].[RouteLocations] ON 

INSERT [dbo].[RouteLocations] ([Id], [RouteId], [LocationName], [Fare]) VALUES (2, 1024, N'Uttara Sector 7', CAST(50.00 AS Decimal(10, 2)))
INSERT [dbo].[RouteLocations] ([Id], [RouteId], [LocationName], [Fare]) VALUES (3, 1024, N'Uttara Sector 10', CAST(45.00 AS Decimal(10, 2)))
INSERT [dbo].[RouteLocations] ([Id], [RouteId], [LocationName], [Fare]) VALUES (4, 1024, N'House Building', CAST(40.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[RouteLocations] OFF
GO
SET IDENTITY_INSERT [dbo].[Routes] ON 

INSERT [dbo].[Routes] ([Id], [RouteName], [Direction]) VALUES (1024, N'Uttara - AIUB', N'ToUniversity')
INSERT [dbo].[Routes] ([Id], [RouteName], [Direction]) VALUES (1025, N'Mirpur - AIUB', N'ToUniversity')
INSERT [dbo].[Routes] ([Id], [RouteName], [Direction]) VALUES (1026, N'Mohammadpur - AIUB', N'ToUniversity')
SET IDENTITY_INSERT [dbo].[Routes] OFF
GO
SET IDENTITY_INSERT [dbo].[StudentPickupSelections] ON 

INSERT [dbo].[StudentPickupSelections] ([Id], [StudentId], [LocationId], [TimeSlotId]) VALUES (12, 2, 8, 11)
INSERT [dbo].[StudentPickupSelections] ([Id], [StudentId], [LocationId], [TimeSlotId]) VALUES (13, 1009, 5, 15)
INSERT [dbo].[StudentPickupSelections] ([Id], [StudentId], [LocationId], [TimeSlotId]) VALUES (14, 1021, 3, 11)
SET IDENTITY_INSERT [dbo].[StudentPickupSelections] OFF
GO
INSERT [dbo].[StudentProfiles] ([UserId], [StudentId], [Department], [Email]) VALUES (2, N'24-00000-1', N'CSE', N'didar@test.com')
INSERT [dbo].[StudentProfiles] ([UserId], [StudentId], [Department], [Email]) VALUES (8, N'12-3333-3', N'CSE', N'test@gmai.com')
INSERT [dbo].[StudentProfiles] ([UserId], [StudentId], [Department], [Email]) VALUES (1008, N'22-48335-2', N'CSE', N'shahriarahmed@gmail.com')
GO
SET IDENTITY_INSERT [dbo].[TimeSlots] ON 

INSERT [dbo].[TimeSlots] ([Id], [StartTime], [EndTime]) VALUES (11, CAST(N'07:00:00' AS Time), CAST(N'09:00:00' AS Time))
INSERT [dbo].[TimeSlots] ([Id], [StartTime], [EndTime]) VALUES (12, CAST(N'09:00:00' AS Time), CAST(N'11:00:00' AS Time))
INSERT [dbo].[TimeSlots] ([Id], [StartTime], [EndTime]) VALUES (13, CAST(N'11:00:00' AS Time), CAST(N'13:00:00' AS Time))
SET IDENTITY_INSERT [dbo].[TimeSlots] OFF
GO
SET IDENTITY_INSERT [dbo].[TravelLogs] ON 

INSERT [dbo].[TravelLogs] ([Id], [StudentId], [AssignmentId], [Amount], [IsPaid], [PickupConfirmed], [Date]) VALUES (1, 2, 6, CAST(55.00 AS Decimal(10, 2)), 1, 1, CAST(N'2026-09-12' AS Date))
INSERT [dbo].[TravelLogs] ([Id], [StudentId], [AssignmentId], [Amount], [IsPaid], [PickupConfirmed], [Date]) VALUES (2, 2, 7, CAST(55.00 AS Decimal(10, 2)), 1, 1, CAST(N'2026-09-12' AS Date))
INSERT [dbo].[TravelLogs] ([Id], [StudentId], [AssignmentId], [Amount], [IsPaid], [PickupConfirmed], [Date]) VALUES (3, 2, 10, CAST(55.00 AS Decimal(10, 2)), 1, 1, CAST(N'2026-09-13' AS Date))
SET IDENTITY_INSERT [dbo].[TravelLogs] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [Name], [Username], [Password], [Email], [Role], [Status]) VALUES (1, N'System Admin', N'admin', N'123', N'admin@aiub.edu', N'Admin', N'Active')
INSERT [dbo].[Users] ([Id], [Name], [Username], [Password], [Email], [Role], [Status]) VALUES (2, N'didar rasul', N'didar', N'1234567', NULL, N'Student', N'Active')
INSERT [dbo].[Users] ([Id], [Name], [Username], [Password], [Email], [Role], [Status]) VALUES (4, N'didar', N'didar8', N'12345', NULL, N'Student', N'Blocked')
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__AdminPro__719FE4895BCCCA17]    Script Date: 9/16/2026 1:23:41 AM ******/
ALTER TABLE [dbo].[AdminProfiles] ADD UNIQUE NONCLUSTERED 
(
	[AdminId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Buses__F5C50C9A5E28A9DE]    Script Date: 9/16/2026 1:23:41 AM ******/
ALTER TABLE [dbo].[Buses] ADD UNIQUE NONCLUSTERED 
(
	[BusName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__DriverPr__72D7E8706AF71CD8]    Script Date: 9/16/2026 1:23:41 AM ******/
ALTER TABLE [dbo].[DriverProfiles] ADD UNIQUE NONCLUSTERED 
(
	[LicenseNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_Student_TimeSlot]    Script Date: 9/16/2026 1:23:41 AM ******/
ALTER TABLE [dbo].[StudentPickupSelections] ADD  CONSTRAINT [UQ_Student_TimeSlot] UNIQUE NONCLUSTERED 
(
	[StudentId] ASC,
	[TimeSlotId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__StudentP__32C52B98F86567CD]    Script Date: 9/16/2026 1:23:41 AM ******/
ALTER TABLE [dbo].[StudentProfiles] ADD UNIQUE NONCLUSTERED 
(
	[StudentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_TravelLog]    Script Date: 9/16/2026 1:23:41 AM ******/
ALTER TABLE [dbo].[TravelLogs] ADD  CONSTRAINT [UQ_TravelLog] UNIQUE NONCLUSTERED 
(
	[StudentId] ASC,
	[AssignmentId] ASC,
	[Date] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__536C85E4F350413B]    Script Date: 9/16/2026 1:23:41 AM ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Buses] ADD  DEFAULT ((40)) FOR [Capacity]
GO
ALTER TABLE [dbo].[Buses] ADD  DEFAULT ('Active') FOR [Status]
GO
ALTER TABLE [dbo].[TravelLogs] ADD  DEFAULT ((0)) FOR [IsPaid]
GO
ALTER TABLE [dbo].[TravelLogs] ADD  DEFAULT ((0)) FOR [PickupConfirmed]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ('Pending') FOR [Status]
GO
ALTER TABLE [dbo].[AdminProfiles]  WITH CHECK ADD  CONSTRAINT [FK_AdminProfiles_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[AdminProfiles] CHECK CONSTRAINT [FK_AdminProfiles_Users]
GO
ALTER TABLE [dbo].[BusAssignments]  WITH CHECK ADD  CONSTRAINT [FK_BusAssignments_Buses] FOREIGN KEY([BusId])
REFERENCES [dbo].[Buses] ([Id])
GO
ALTER TABLE [dbo].[BusAssignments] CHECK CONSTRAINT [FK_BusAssignments_Buses]
GO
ALTER TABLE [dbo].[BusAssignments]  WITH CHECK ADD  CONSTRAINT [FK_BusAssignments_Routes] FOREIGN KEY([RouteId])
REFERENCES [dbo].[Routes] ([Id])
GO
ALTER TABLE [dbo].[BusAssignments] CHECK CONSTRAINT [FK_BusAssignments_Routes]
GO
ALTER TABLE [dbo].[BusAssignments]  WITH CHECK ADD  CONSTRAINT [FK_BusAssignments_TimeSlots] FOREIGN KEY([TimeSlotId])
REFERENCES [dbo].[TimeSlots] ([Id])
GO
ALTER TABLE [dbo].[BusAssignments] CHECK CONSTRAINT [FK_BusAssignments_TimeSlots]
GO
ALTER TABLE [dbo].[BusAssignments]  WITH CHECK ADD  CONSTRAINT [FK_BusAssignments_Users] FOREIGN KEY([DriverId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[BusAssignments] CHECK CONSTRAINT [FK_BusAssignments_Users]
GO
ALTER TABLE [dbo].[DriverProfiles]  WITH CHECK ADD  CONSTRAINT [FK_DriverProfiles_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DriverProfiles] CHECK CONSTRAINT [FK_DriverProfiles_Users]
GO
ALTER TABLE [dbo].[RouteLocations]  WITH CHECK ADD  CONSTRAINT [FK_RouteLocations_Routes] FOREIGN KEY([RouteId])
REFERENCES [dbo].[Routes] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RouteLocations] CHECK CONSTRAINT [FK_RouteLocations_Routes]
GO
ALTER TABLE [dbo].[StudentPickupSelections]  WITH CHECK ADD  CONSTRAINT [FK_PickupSelections_RouteLocations] FOREIGN KEY([LocationId])
REFERENCES [dbo].[RouteLocations] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[StudentPickupSelections] CHECK CONSTRAINT [FK_PickupSelections_RouteLocations]
GO
ALTER TABLE [dbo].[StudentPickupSelections]  WITH CHECK ADD  CONSTRAINT [FK_PickupSelections_TimeSlots] FOREIGN KEY([TimeSlotId])
REFERENCES [dbo].[TimeSlots] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[StudentPickupSelections] CHECK CONSTRAINT [FK_PickupSelections_TimeSlots]
GO
ALTER TABLE [dbo].[StudentPickupSelections]  WITH CHECK ADD  CONSTRAINT [FK_PickupSelections_Users] FOREIGN KEY([StudentId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[StudentPickupSelections] CHECK CONSTRAINT [FK_PickupSelections_Users]
GO
ALTER TABLE [dbo].[StudentProfiles]  WITH CHECK ADD  CONSTRAINT [FK_StudentProfiles_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[StudentProfiles] CHECK CONSTRAINT [FK_StudentProfiles_Users]
GO
ALTER TABLE [dbo].[TravelLogs]  WITH CHECK ADD  CONSTRAINT [FK_TravelLogs_BusAssignments] FOREIGN KEY([AssignmentId])
REFERENCES [dbo].[BusAssignments] ([Id])
GO
ALTER TABLE [dbo].[TravelLogs] CHECK CONSTRAINT [FK_TravelLogs_BusAssignments]
GO
ALTER TABLE [dbo].[TravelLogs]  WITH CHECK ADD  CONSTRAINT [FK_TravelLogs_Users] FOREIGN KEY([StudentId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[TravelLogs] CHECK CONSTRAINT [FK_TravelLogs_Users]
GO
ALTER TABLE [dbo].[Buses]  WITH CHECK ADD  CONSTRAINT [CK_Buses_Capacity] CHECK  (([Capacity]>(0)))
GO
ALTER TABLE [dbo].[Buses] CHECK CONSTRAINT [CK_Buses_Capacity]
GO
ALTER TABLE [dbo].[Buses]  WITH CHECK ADD  CONSTRAINT [CK_Buses_Status] CHECK  (([Status]='Inactive' OR [Status]='Active'))
GO
ALTER TABLE [dbo].[Buses] CHECK CONSTRAINT [CK_Buses_Status]
GO
ALTER TABLE [dbo].[Routes]  WITH CHECK ADD  CONSTRAINT [CK_Routes_Direction] CHECK  (([Direction]='FromUniversity' OR [Direction]='ToUniversity'))
GO
ALTER TABLE [dbo].[Routes] CHECK CONSTRAINT [CK_Routes_Direction]
GO
ALTER TABLE [dbo].[TimeSlots]  WITH CHECK ADD  CONSTRAINT [CK_TimeSlots_Time] CHECK  (([EndTime]>[StartTime]))
GO
ALTER TABLE [dbo].[TimeSlots] CHECK CONSTRAINT [CK_TimeSlots_Time]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [CK_Users_Role] CHECK  (([Role]='Driver' OR [Role]='Student' OR [Role]='Admin'))
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [CK_Users_Role]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [CK_Users_Status] CHECK  (([Status]='Blocked' OR [Status]='Active' OR [Status]='Pending'))
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [CK_Users_Status]
GO
USE [master]
GO
